<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.net.maitri.xb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".db.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".db.DbActivity" />
        <activity android:name=".customer.CustomerDetail" />
        <activity android:name=".itemdetails.AddItemCategory" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingsActivity" />
        <activity
            android:name=".billing.CheckoutActivity"
            android:label="CHECKOUT"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity
            android:name=".billing.BillingActivity"
            android:label="BILL SCREEN"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="customer.CustomerDetail" />
        <activity android:name=".reports.TotalSales" />
        <activity android:name=".billReports.BillReportActivity" />
        <activity android:name=".billReports.ItemReportActivity" />
        <activity android:name=".billReports.CustomerReportActivity" />
        <activity android:name=".billReports.TodayBillReport" />
        <activity android:name=".billing.BillSeriesActivity">
            <intent-filter>
                <action android:name="in.net.maitri.xb.billing.BillSeriesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".util.FilePicker"
            android:label="XPand/Backup" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".registration.Registration"
            android:configChanges="orientation|screenSize" />

        <receiver android:name=".registration.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".billReports.FilterActivity"></activity>
    </application>

</manifest>